# HomeBake的小幫手(2)_105405132 宋靜 廣告四

HomeBake是我最近在經營的甜點材料盒品牌!<br>但因為才剛開始，很多程序都還沒系統化<br>想利用上學期學到(現在快忘光)的pandas<br>一邊複習、一邊幫HomeBake製作便利的系統

# 2.每周的訂單報表
利用pandas可以將整周的訂單匯出成表格，方便統一統計

In [1]:
%matplotlib inline 
import numpy as np 
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
df = pd.DataFrame(columns = ["姓名","提拉米蘇","檸檬塔","oreo生乳酪","生巧克力","訂單總價"])

while True:
    name = input("怎麼稱呼您?")
    if name == "Q":
        break
    tira = int(input("您訂購的提拉米蘇數量為:"))
    lemon = int(input("您訂購的檸檬塔數量為:"))
    oreo = int(input("您訂購的oreo生乳酪蛋糕數量為:"))
    choco = int(input("您訂購的生巧克力數量為:"))
    price = tira*440 + lemon*210 + oreo*360 +choco*350

    print("謝謝您的訂購! 您的訂單總金額為：" + str(price))
    data = {"姓名": name, "提拉米蘇": tira, "檸檬塔": lemon, "oreo生乳酪": oreo, "生巧克力": choco, "訂單總價": price}
    data = pd.Series(data)
    df = df.append(data,ignore_index=True)
    
df

怎麼稱呼您?小名
您訂購的提拉米蘇數量為:1
您訂購的檸檬塔數量為:2
您訂購的oreo生乳酪蛋糕數量為:1
您訂購的生巧克力數量為:1
謝謝您的訂購! 您的訂單總金額為：1570
怎麼稱呼您?阿美
您訂購的提拉米蘇數量為:2
您訂購的檸檬塔數量為:3
您訂購的oreo生乳酪蛋糕數量為:3
您訂購的生巧克力數量為:4
謝謝您的訂購! 您的訂單總金額為：3990
怎麼稱呼您?大華
您訂購的提拉米蘇數量為:1
您訂購的檸檬塔數量為:1
您訂購的oreo生乳酪蛋糕數量為:2
您訂購的生巧克力數量為:9
謝謝您的訂購! 您的訂單總金額為：4520
怎麼稱呼您?寶寶
您訂購的提拉米蘇數量為:2
您訂購的檸檬塔數量為:1
您訂購的oreo生乳酪蛋糕數量為:0
您訂購的生巧克力數量為:0
謝謝您的訂購! 您的訂單總金額為：1090
怎麼稱呼您?
您訂購的提拉米蘇數量為:2
您訂購的檸檬塔數量為:0
您訂購的oreo生乳酪蛋糕數量為:0
您訂購的生巧克力數量為:0
謝謝您的訂購! 您的訂單總金額為：880
怎麼稱呼您?淑貞
您訂購的提拉米蘇數量為:2
您訂購的檸檬塔數量為:1
您訂購的oreo生乳酪蛋糕數量為:1
您訂購的生巧克力數量為:1
謝謝您的訂購! 您的訂單總金額為：1800
怎麼稱呼您?Q

   姓名 提拉米蘇 檸檬塔 oreo生乳酪 生巧克力  訂單總價
0  小名    1   2       1    1  1570
1  阿美    2   3       3    4  3990
2  大華    1   1       2    9  4520
3  寶寶    2   1       0    0  1090
4        2   0       0    0   880
5  淑貞    2   1       1    1  1800

#